<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/jumbo.css">
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto">

  <title>
    <%= title %>
  </title>

</head>

<body>

  <div id="pagenavbar">
    <!-- Navbar gets inserted here -->
  </div>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-fluid" id="jumbo">
        <h1 id="hello">Hello,<br/> <%= userFirstName %>!</h1>
        <p>Our mission is to connect active individuals through social activities so that people can share great outdoor experiences.</p>
        <p><a class="btn btn-primary btn-lg" href="/host" role="button" id="hostEventButton">Host an event</a></p>
      </div>
    </div>

    <div class="container-fluid">
      <!-- Example row of columns -->
      <div id="events" class="row">
        <!-- Database events get added here -->
      </div>

      <hr>

    </div>
    <!-- /container -->

  </main>

  <footer class="container-fluid text-center">
    <p><br/> &copy;2018 Team War Dogs  -  <a href="https://github.com/ericmbudd/wardogs"><i class="fab fa-github"></i></a></p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="../source/navbar.js" charset="utf-8"></script>
  <script src="../source/renderEvents.js" charset="utf-8"></script>
</body>

</html>
