.jumbotron {
   background: url('https://files.slack.com/files-pri/T1T555TL0-F9RL25BD2/img_20180317_124728.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   color: white;
}

.jumbotron p {
  
}
