.container-fluid {
  font-family: "Roboto";
}

.titlerestrict {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px #FFF; */
}

.descrestrict {
  /* hide text if it's more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (4) */
  max-height: 4.8em;
  /* fix problem when last visible word doesn't adjoin right side */
  text-align: justify;
  /* place for '...' */
  padding-right: 1em;
  /* color: black; */
  /* text-shadow: 1px 1px 3px black, 0px 0px 4px grey; */
}

/* create the '...' */

.descrestrict:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

/* hide '...' if we have text that is less than or equal to max lines */

.descrestrict:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.aboutEmail {
  font-size: 80%;
}

.card-img {
  opacity: .5;
  height: 200px;
}

.img-thumbnail {
  max-height: 420px;
  max-width: 560px
}

.card {
  margin: 10px;
  box-shadow: 2px 2px #efefef;
  font-family: "Roboto", sans-serif;
}

.card-text {
  text-shadow: 2px 2px 4px #FFF;
  /* color: white; */
  /* text-shadow: 1px 1px 3px black, 0px 0px 4px grey; */
}

#events {
  display: flex;
  justify-content: center;
}

#event-image {
  max-width: 75%;
  margin: 20px;
  border-radius: 10px;
}

#techStack {
  width: 90%;
  margin: 20px;
  border-radius: 10px;
}

.techStack {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 150%;
  color: #000000;
}

.smallIcon {
  font-size: 75%;
}
.hidden {
  display: none;
}

.clickMe {
  display: flex;
  justify-content: center;
}

.userPic {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#user-pic {
  padding: 20px;
}

.userBlock {
  padding: 20px;
}

#registerHere {
  display: none;
}

#pagenavbar {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: lightgrey!important;
}

#navLogo {
  display: flex;
  align-items: center;
}

.event-detail {
  padding-left: 1em;
  /* display: none; */
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

@media (max-width: 767px) {
  #techStack {
    width: 300px;
    height: 150px;
  }
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

footer {
  background-color: lightgrey;
  padding-bottom: 4px;
}

.bg-light {
  /* background-color: lightgrey!important; */
}
/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
